---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
const ol = await Astro.glob("./ol/*.md");
const sorteredeol = ol.sort(
  (a, b) => Date.parse(b.frontmatter.dato) - Date.parse(a.frontmatter.dato)
);
const udvalgtol = sorteredeol.slice(0, 4);
---

<MainLayout title="Vores øl">
  <h2
    class="font-display text-5xl font-black uppercase text-pink-500 col-span-full p-5 text-center"
  >
    Vores øl
  </h2>
  <section
    class="mt-10 pt-16 pb-24 bg-[url('/yellow-wobble.svg')] col-span-full bg-cover w-screen lg:bg-contain"
  >
    <div>
      <p
        class="lg:font-medium lg:text-sm lg:px-40 font-sans text-xs px-5 text-blue-600"
      >
        Hos People Like Us har vi specialiseret os i at udvikle unikke
        ølopskrifter uden at være bundet af egne produktionsfaciliteter, derfor
        kan man også kalde os et Fantombryggeri. Dette giver os friheden til at
        fokusere på kreativitet og innovation i bryggeprocessen. Vores
        brygger-ish Rune Lindgreen udvikler vores opskrifter og så booker vi os
        ind hos andre mikrobryggerier.
      </p>
      <p
        class="lg:font-medium lg:text-sm lg:px-40 font-sans text-xs px-5 text-blue-600"
      >
        Vi elsker at lave spændende samarbejder, ofte kaldet 'collabs', hvor vi
        forener kræfter med andre kreative sjæle i branchen og har skabt nogle
        helt særlige øl med blandt andet Aaben, Mikkeller, Flying Couch, og
        Brøl. Disse samarbejder resulterer ikke blot i fremragende øl, men også
        i fælles værdier og visioner, som vi bringer til liv gennem hver enkelt
        bryg. Lige nu brygger vi på en spændende small batch øl med Bicycle and
        Beer.
      </p>
    </div>
  </section>
  <ul class="col-span-full lg:grid lg:grid-cols-3 lg:gap-5 lg:mx-20">
    {
      udvalgtol.map((post) => (
        <li class="bg-pink-500 flex odd:flex-row even:flex-row-reverse my-5 mx-3 rounded-[20px] lg:odd:flex-col lg:even:flex-col lg:h-auto h-60 w-auto ">
          <div class="basis-5/12">
            <img
              src={post.frontmatter.coverimage}
              alt={post.frontmatter.coveralt}
              class=" h-full w-full object-cover"
            />
          </div>
          <div class="p-2 basis-7/12 flex flex-col justify-between">
            <div>
              <span class=" text-blue-600">
                <p class="font-sans text-xs">{post.frontmatter.type}</p>
              </span>
              <h2 class="font-display text-xl">
                <a href={post.url} class="text-blue-600">
                  {post.frontmatter.title}
                </a>
              </h2>
              <p class="font-sans text-sm text-blue-600">
                {post.frontmatter.kortversion}
              </p>
            </div>
            <div class="hidden lg:block lg:pt-10 lg:pb-2 lg:px-5">
              <Button variant="quantriary" size="large">
                Køb her
              </Button>
              <Button variant="quantriary" size="large">
                <a href="/voresol">Smag her</a>
              </Button>
            </div>
			<div class="lg:hidden">
              <Button variant="quantriary" size="small">
                Køb her
              </Button>
              <Button variant="quantriary" size="small">
                <a href="/voresol">Smag her</a>
              </Button>
            </div>
          </div>
        </li>
      ))
    }
  </ul>
</MainLayout>
